@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    font-family: 'SF Pro Display' sans-serif !important;
    -moz-font-family: 'SF Pro Display', sans-serif !important;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: #02213a;
    max-width: 300px;    
    height: 500px;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.numbers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    column-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
    transform: translateY(50px);
}
.head{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-width:100%;
    transform: translateY(-100px);
}
.head .network{
    display:flex;
    align-items: center;
    justify-content: center;
}

.head .network *{
   margin:0 0.3rem;
}
.mode-toggler {
    transform: translateY(-80px);
    font-size: 1.7rem;
    margin: 0 auto;
    background-color: #022844;
    color: #f4f4f4;
    padding: 1rem 1.4rem;
    border-radius: 50%;
    text-align: center;
}

.mode-toggler:hover{
    cursor: pointer;
    opacity: 0.9;
}
.container.light-mode{
    background-color: #f4f4f4;
    color: #022844;
    box-shadow: 3px 3px 4px #aaa, -3px -3px 4px #aaa;
}

.container .box {
    width: 16px;
    height: 16px;
    text-align: center;
    background-color: inherit;
    padding: 0.5rem 1rem;
    align-self: center;
    justify-self: center;
    border-radius: 50px;
    transition: all 0.3s ease-in;
    cursor: pointer;
    box-shadow: 2px 2px 2px #022844, -2px -2px 2px #022844;
}
.box.light-mode:hover{
    background-color: #aaa;
    color: #022844;
} 
.container.light-mode{
    background-color: #ccc;
    color:#022844
}
.mode-toggler.light-mode {
    background-color: #aaa;
    color: #022844;
}


@media(max-width:768px){
    .head{
        transform: translateY(-90px);

    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}